<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ZAY SHOP - ERP Site</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/tabledragdrop.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/lib/tabledragdrop.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery.twbsPagination.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/chart.js"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">
            <div id="logoBrand">
            </div>
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fa fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 text-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#" onclick="SignOut();">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading" style="color: whitesmoke">Thông Tin Cửa Hàng</div>
                        <a class="nav-link" href="/Home/Index">
                            <div class="sb-nav-link-icon"><i class="fa fa-tachometer"></i></div>
                            Thống Kê
                        </a>
                        <div class="sb-sidenav-menu-heading" style="color: whitesmoke">Danh Mục</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa fa-columns"></i></div>
                            Truyền Thông
                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/Media/Index">Hình ảnh</a>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuthBlog" aria-expanded="false" aria-controls="pagesCollapseAuthBlog">
                                    Blog
                                    <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuthBlog" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/Blog/Index">Tin tức</a>
                                        <a class="nav-link" href="/BlogType/Index">Danh mục tin</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fa fa-book"></i></div>
                            Sổ Sách
                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Sản Phẩm
                                    <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/SanPham/Index">Danh Sách</a>
                                        <a class="nav-link" href="/LoaiSanPham/Index">Loại Sản Phẩm</a>
                                        <a class="nav-link" href="/ThuongHieu/Index">Thương Hiệu</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                    Người Dùng
                                    <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/User/Index">Tài Khoản</a>
                                        <a class="nav-link" href="/KhachHang/Index">Khách Hàng</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading" style="color: whitesmoke">Nghiệp Vụ</div>
                        <a class="nav-link" href="/Order/Index">
                            <div class="sb-nav-link-icon"><i class="fa fa-sticky-note"></i></div>
                            Đơn Hàng
                        </a>
                        <a class="nav-link" href="/PhanHoi/Index">
                            <div class="sb-nav-link-icon"><i class="fa fa-envelope"></i></div>
                            Hòm Thư
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small" id="userInfor"></div>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">

            @RenderBody()


            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; ZayShop 2023</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/scripts.js"></script>

    <script>
        jQuery(document).ready(function ($) {
            getUser();

            $("#logoBrand").load('/Media/PartialLogo');
        });

        var cookieToken = JSON.parse(Common.getCookie("ManagerShop_Cookies"));


        function getUser() {


            $.ajax({
                type: 'POST',
                url: "/User/GetUser",
                data: {},
                success: function (data) {
                    $('#userInfor').html(data);
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));

                }

            });
        }

        function SignOut() {
            var result = confirm("Bạn muốn đăng xuất ?");

            if (result) {

                Common.eraseCookie("ManagerShop_Cookies");
                window.location.replace("http://localhost:61250")

            }
        }
    </script>
</body>
</html>
