
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light py-3 container" data-aos="fade-right" id="first">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/TrangChu/Index" class="font-weight-normal">Trang Chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Sản Phẩm</strong></div>
        </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-9 order-2">
                @*<div class="row">
                    <div class="col-md-12 mb-5">
                        <div class="float-md-left mb-4"><h2 class="text-black h5">Tất cả sản phẩm ( @ViewBag.TotalRow )</h2></div>
                    </div>
                </div>*@

                <div id="dsSP" data-aos="fade-up" data-aos-delay="200"> </div>

                <div class="d-flex justify-content-center">
                    <div class="row" data-aos="fade-up">
                        <ul id="pagination-demo" class="pagination-x"></ul>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="row" data-aos="fade-up">
                        <ul id="pagination-demo1" class="pagination-x"></ul>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="row" data-aos="fade-up">
                        <ul id="pagination-demo2" class="pagination-x"></ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0" data-aos="fade-right">
                <button class="btn btn-info btn-lg btn-block" onclick="getDsSanPham()"> Tất cả sản phẩm</button>
                <hr />
                <div id="dsLSP"></div>
                <div class="border p-4 rounded mb-4">
                    <div id="dsTH"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function ($) {
        getDsSanPham();
        getDsThuongHieu();
        getDsLoaiSP();
    });

    var pageSize = 6;
    var pageIndex = 1;

    //Lấy sản phẩm
    function getDsSanPham() {
        RemoveCookie('TotalByType');
        $("#pagination-demo1").hide();
        $("#pagination-demo2").hide();

        $("#pagination-demo").show();

        var inputData = {
            TenSp: "",
            page: pageIndex,
            pageSize: pageSize
        };

        $.ajax({
            type: 'POST',
            url: "/SanPham/PartialSanPham",
            data: inputData,
            success: function (data) {
                $('#dsSP').html(data);
                dataPaging('@ViewBag.TotalRow', function () {
                    getDsSanPham();
                });
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));

            }

        });
    }

    //Phân trang
    function dataPaging(totalRow, callback) {

        var totalPage = Math.ceil(totalRow / pageSize);
        $('#pagination-demo').twbsPagination({
            totalPages: totalPage,
            visiblePages: 5,
            first: "Đầu",
            next: "Tiếp",
            last: "Cuối",
            prev: "Trước",
            onPageClick: function (event, page) {
                pageIndex = page;
                setTimeout(callback, 200);
                 $("html").animate(
                    {
                         scrollTop: $("#first").offset().top
                    },
                    800 //speed
                );
            }
        });
    }

    function getDsLoaiSP() {

        var inputData = {
            TenLoaiSP: ""
        };

        $.ajax({
            type: 'POST',
            url: "/SanPham/PartialLoaiSP",
            data: inputData,
            success: function (data) {
                $('#dsLSP').html(data);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));

            }

        });
    }

    function getDsThuongHieu() {
        var inputData = {
            TenTh: ""
        };

        $.ajax({
            type: 'POST',
            url: "/SanPham/PartialThuongHieu",
            data: inputData,
            success: function (data) {
                $('#dsTH').html(data);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));

            }

        });
    }

    $(document).on('click', '.nav-link.active', function () {
        var href = $(this).attr('href').substring(1);
        //alert(href);
        $(this).removeClass('active');
        $('.tab-pane[id="' + href + '"]').removeClass('active');

    });
    $(document).mouseup(function (e) {
        var container = $("#tablist"); // target ID or class
        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            // get Event here
            $('.active').removeClass('active');
        }
    });
</script>
