@model List<QLBH_WebClient.DTO.LOAISP>


<div class="border p-4 rounded mb-4">
    <h3 class="mb-3 h6 text-uppercase text-black d-block">DANH MỤC</h3>
    <ul class="list-unstyled mb-0">
        @{
            if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <li class="mb-1"><a href="#" class="color-item d-flex"><span><strong>@item.tenLoaiSp</strong></span></a></li>
                }
            }
        }
    </ul>
</div>