@model List<QLBH_WebClient.DTO.THUONGHIEU>

@{
    Layout = null;
    string media = System.Configuration.ConfigurationManager.AppSettings["MEDIA_URL"] + "/images/thuonghieu/";

}

<ul class="dropdown font-weight-normal">
    @{
        if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <li><a href="/ThuongHieu/Detail?MaTH=@item.maTh">@item.tenTh</a></li>
            }
        }
    }
</ul>