@model QLBH_WebClient.DTO.BLOG

@{
    Layout = null;
    string media = System.Configuration.ConfigurationManager.AppSettings["MEDIA_URL"] + "/images/blogs/";
}


<div class="site-section block-8">
    <div class="container">
        <div class="row justify-content-center  mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2 class="font-weight-bold">Khuyến Mãi Mới</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 mb-5">
                <a><img src="@media@Model.anhTt" alt="Image placeholder" class="img-fluid rounded"></a>
            </div>
            <div class="col-md-12 col-lg-5 text-center pl-md-5">
                <h2><a href="#">@Model.tieuDe</a></h2>
                <p class="post-meta mb-4">Bởi <a href="#">@Model.user.userName</a> <span class="block-8-sep">&bullet;</span>@Model.ngayDang</p>
                <p class="font-weight-normal">@Model.moTa</p>
                <p><a href="/Blog/Detail?MaTinTuc=@Model.maTinTuc" class="btn btn-primary btn-sm font-weight-light">Xem ngay</a></p>
            </div>
        </div>
    </div>
</div>