
<div class="card bg-warning text-white mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-10 fw-bold">
                Tổng Hàng Hóa
            </div>
            <div class="col-2 text-end">
                <i class="fa fa-shopping-cart fa-2x"></i>
            </div>
        </div>
    </div>
    <div class="card-footer align-items-end">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10 text-end">
                <div class="small text-white fs-5 fw-bolder"> @ViewBag.Total</div>
            </div>
        </div>
    </div>
</div>