
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Section: Contact v.2-->
<div class="mb-4">
    <!--Section heading-->
    <h1 class="h1-responsive font-weight-bold text-center my-4" style="color:slateblue"><i class="fa fa-envelope"></i> Liên hệ với chúng tôi</h1>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5 font-weight-normal" >
        Bạn có thắc mắc hay đóng góp ? Hãy liên hệ ngay với chúng tôi. Bộ phận CSKH sẽ liên hệ ngay với bạn trong thời gian sớm nhất !!!
    </p>

    <div class="container">
        <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <div id="contact-form" name="contact-form">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="txtTenKH" class="font-weight-bold">Họ và tên</label>
                                <input type="text" id="txtTenKH" name="name" class="form-control">
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="txtEmail" class="font-weight-bold">Địa chỉ email</label>
                                <input type="text" id="txtEmail" name="email" class="form-control">
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <label for="txtTieuDe" class="font-weight-bold">Câu hỏi / Ý kiến</label>
                                <input type="text" id="txtTieuDe" name="subject" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <label for="txtNoiDung" class="font-weight-bold">Nội dung</label>
                                <textarea type="text" id="txtNoiDung" name="message" rows="2" class="form-control md-textarea"></textarea>
                                
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                </div>
                <br />
                <div class="text-center text-md-left">
                    <button class="btn btn-primary font-weight-bold" onclick="Insert()">Gửi</button>
                </div>
                <div class="status"></div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 text-center">
                <img class="img-fluid" src="~/Content/Screenshot_9.jpg" />

            </div>
            <!--Grid column-->

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getCustomerInform();
    });

    var cookieToken = JSON.parse(Common.getCookie("ManagerShop_Cookies"));

    function Insert() {
        var tieude = $("#txtTieuDe").val();
        var noidung = $("#txtNoiDung").val();
        var ngaygui = moment().format('YYYY-MM-DD HH:mm:ss');

        var inputData = {
            tieuDe: tieude,
            noiDung: noidung,
            tenKh: tenkh,
            email: email,
            NgayGui: ngaygui
        };

        $.ajax({
            type: 'POST',
            url: "/PhanHoi/FeedbackInsert",
            data: inputData,
            success: function (data) {
                var result = data.ResponseCode;
                if (result > 0) {
                    swal({
                        text: data.Description,
                        icon: "success",
                        button: "OK!",
                    }).then(function () {
                        $("#txtTieuDe").val('');
                        $("#txtNoiDung").val('');
                        $("#txtTenKH").val('');
                        $("#txtEmail").val('');
                        $(".modal-backdrop").remove();
                    });
     
                }
                else {
                    swal({
                        text: data.Description,
                        icon: "warning",
                        button: "OK!",
                    });
                    $(".modal-backdrop").remove();
                }
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));

            }
        });
    }


    function getCustomerInform() {

        $.ajax({
            type: 'GET',
            url: "/Cart/GetCustomerInform",
            data: {},
            success: function (data) {
                $("#txtTenKH").val(data.tenKh);
                $("#txtEmail").val(data.emailKh);

            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));

            }
        })
    }
</script>