
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-light py-3 container" data-aos="fade-right">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/TrangChu/Index" class="font-weight-normal">Trang Chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Chăm Sóc Khách Hàng</strong></div>
        </div>
</div>
<br />
<!--Section: Contact v.2-->

    <div class="container">
        <div class="row">

            <!--Grid column-->
            <div class="col-md-7 mb-md-0 mb-5" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
                <!--Section heading-->
                <h1 class="h1-responsive font-weight-bold  my-4" style="color:slateblue"><i class="fa fa-envelope"></i> Liên hệ với chúng tôi</h1>
                <!--Section description-->
                <p class=" w-responsive mx-auto mb-5 font-weight-normal">
                    Bạn có thắc mắc hay đóng góp ? Hãy liên hệ ngay với chúng tôi. Bộ phận CSKH sẽ liên hệ ngay với bạn trong thời gian sớm nhất !!!
                </p>

                <div id="contact-form" name="contact-form">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="txtTenKH" class="font-weight-bold">Họ và tên</label>
                                <input type="text" id="txtTenKH" name="name" class="form-control">
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="txtEmail" class="font-weight-bold">Địa chỉ email</label>
                                <input type="text" id="txtEmail" name="email" class="form-control">
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <label for="txtTieuDe" class="font-weight-bold">Câu hỏi / Ý kiến</label>
                                <input type="text" id="txtTieuDe" name="subject" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <label for="txtNoiDung" class="font-weight-bold">Nội dung</label>
                                <textarea type="text" id="txtNoiDung" name="message" rows="2" class="form-control md-textarea"></textarea>

                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                </div>
                <br />
                <div class="text-center text-md-left">
                    <button class="btn btn-primary font-weight-bold" onclick="Insert()">Gửi</button>
                </div>
                <div class="status"></div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-5 mb-md-0 mb-5" data-aos="fade-left"
     data-aos-anchor="#example-anchor"
     data-aos-offset="500"
     data-aos-duration="500">
                <img class="img-fluid" src="~/Content/Screenshot_9.jpg" style="height: 500px" />

            </div>
            <!--Grid column-->

        </div>
    </div>

<script>
    $(document).ready(function () {
        getCustomerInform();
    });


    function Insert() {
        var tieude = $("#txtTieuDe").val();
        var noidung = $("#txtNoiDung").val();
        var ngaygui = moment().format('YYYY-MM-DD HH:mm:ss');
        var tenkh = $("#txtTenKH").val();
        var email = $("#txtEmail").val();

        var Email_regex = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;


        if (tenkh == "" || tenkh == null) {
            swal({
                text: "Bạn chưa nhập họ tên !!!",
                icon: "warning",
                button: "OK!",
            });
            return;
        }
        if (email == "" || email == null) {
            swal({
                text: "Bạn chưa nhập email !!!",
                icon: "warning",
                button: "OK!",
            });
            return;
        }

        if (tieude == "" || tieude == null) {
            swal({
                text: "Bạn chưa nhập tiêu đề câu hỏi !!!",
                icon: "warning",
                button: "OK!",
            });
            return;
        }
        if (noidung == "" || noidung == null) {
            swal({
                text: "Bạn chưa nhập nội dung !!!",
                icon: "warning",
                button: "OK!",
            });
            return;
        }

        if (Email_regex.test(email) == false) {
            swal({
                text: "Email không hợp lệ !!!",
                icon: "error",
                button: "OK!",
            });
            return;
        }

        var inputData = {
            tieuDe: tieude,
            noiDung: noidung,
            tenKh: tenkh,
            email: email,
            NgayGui: ngaygui
        };

        $.ajax({
            type: 'POST',
            url: "/PhanHoi/FeedbackInsert",
            data: inputData,
            success: function (data) {
                var result = data.ResponseCode;
                if (result > 0) {
                    swal({
                        text: data.Description,
                        icon: "success",
                        button: "OK!",
                    }).then(function () {
                        $("#txtTieuDe").val('');
                        $("#txtNoiDung").val('');
                        $("#txtTenKH").val('');
                        $("#txtEmail").val('');
                        $(".modal-backdrop").remove();
                    });
     
                }
                else {
                    swal({
                        text: data.Description,
                        icon: "warning",
                        button: "OK!",
                    });
                    $(".modal-backdrop").remove();
                }
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));

            }
        });
    }


    function getCustomerInform() {

        $.ajax({
            type: 'GET',
            url: "/Cart/GetCustomerInform",
            data: {},
            success: function (data) {
                $("#txtTenKH").val(data.tenKh);
                $("#txtEmail").val(data.emailKh);

            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));

            }
        })
    }
</script>