@model QLBH_WebClient.DTO.PHANHOI

<div>
    <div class="container font-weight-normal">
        <h4 class="text-left" style="color:red">Trả lời phản hồi "@Model.tieuDe"</h4>
        <hr />
        <div class="row">
            @Html.Raw(Model.phanHoi1)
        </div>
    </div>
</div>