@model QLBH_WebClient.DTO.THUONGHIEU

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string media = System.Configuration.ConfigurationManager.AppSettings["MEDIA_URL"] + "/images/thuonghieu/";

}

<div class="bg-light py-3 container" data-aos="fade-right">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/TrangChu/Index" class="font-weight-normal">Trang Chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Thương Hiệu</strong></div>
        </div>
</div>
<br />
<div class="container" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <img src="@media@Model.anhTh" class="img-fluid" />
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br />
    <div class="row font-weight-normal">
        @Html.Raw(Model.moTa)
    </div>
    <hr />

    <div class="row" data-aos="fade-up">
        <div class="col-12" id="dsSanPham"></div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row" data-aos="fade-up">
            <ul id="pagination-demo2" class="pagination-x"></ul>
        </div>
    </div>
</div>



<script>
    jQuery(document).ready(function ($) {
        getDsSanPhamByBrand('@Model.maTh');
    });

    var pageSize = 6;
    var pageIndex = 1;

    //Lấy sản phẩm
    function getDsSanPhamByBrand(math) {
        var inputData1 = {
            math: math,

        };

        var inputData2 = {
            MaTH: math,
            page: pageIndex,
            pageSize: pageSize
        };

        $.ajax({
            type: 'POST',
            url: "/SanPham/GetProcTotalByBrand",
            data: inputData1,
            success: function (data) {
                Common.setCookie("TotalByBrand", data, 1);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));

            }

        }).done(function () {

                  $.ajax({
                type: 'POST',
                      url: "/SanPham/PartialSanPhamByBrand",
                data: inputData2,
                      success: function (data) {
                          var total = Common.getCookie("TotalByBrand");
                          $('#dsSanPham').html(data);
                    dataPaging2(total, function () {
                        getDsSanPhamByBrand(math);
                    });
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));

                }

            });
        });


    }

    //Phân trang
    function dataPaging2(totalRow, callback) {

        var totalPage = Math.ceil(totalRow / pageSize);
        $('#pagination-demo2').twbsPagination({
            totalPages: totalPage,
            visiblePages: 5,
            first: "Đầu",
            next: "Tiếp",
            last: "Cuối",
            prev: "Trước",
            onPageClick: function (event, page) {
                pageIndex = page;
                setTimeout(callback, 200);
            }
        });
    }

</script>