@model List<QLBH_WebManage.DTO.THUONGHIEU>
@{
    Layout = null;
    string media = System.Configuration.ConfigurationManager.AppSettings["MEDIA_URL"] + "/images/thuonghieu/";

}

<br />
<br />

<div class="container">
    <table id="dsThuongHieu" class="table table-sm table-hover table-striped table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Mã Thương Hiệu</th>
                <th>Tên Thương Hiệu</th>
                <th>Xuất xứ</th>
                <th>Hình ảnh</th>
                <th></th>
                <th></th>

            </tr>
        </thead>


        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>@item.maTh</td>
                        <td>@item.tenTh</td>
                        <td>@item.xuatXu</td>
                        <td>
                            <img src="@media@item.anhTh" style="width: 100px;height: 100px" />
                        </td>

                        <td><a href="/ThuongHieu/Detail?MaTH=@item.maTh" class="btn btn-info">Chi tiết</a></td>

                        <td>
                            <input type="button" onclick="deleteThuongHieu('@item.maTh')" id="btnDelete" value="Xóa" class="btn btn-danger" />
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>



<script>
    $(document).ready(function () {

    });

    var cookieToken = JSON.parse(Common.getCookie("ManagerShop_Cookies"));

    function deleteThuongHieu(math) {
        var result = confirm("Bạn có chắc chắn muốn xóa");

        if (result) {
            var deleteData = {
                MaTH: math
            }

            $.ajax({
                type: 'POST',
                url: "/ThuongHieu/Delete",
                data: deleteData,
                success: function (data) {
                    var code = data.ResponseCode;
                    if (code > 0) {
                        swal({
                            text: data.Description,
                            icon: "success",
                            button: "OK!",
                        });
                        getDs();
                    }
                    else {
                        swal({
                            text: data.Description,
                            icon: "warning",
                            button: "OK!",
                        });
                        getDsThuongHieu();
                        $(".modal-backdrop").remove();
                    }
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));
                }
            });
        }

    }


</script>
