@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/TrangChu/Index" class="font-weight-normal">Trang Chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Giỏ hàng</strong></div>
        </div>
    </div>
</div>
<br />
<div id="shoppingCart" data-aos="fade-up">

</div>



<script>
    jQuery(document).ready(function ($) {
        getCart();
    });

    function getCart() {

        $.ajax({
            type: 'POST',
            url: "/Cart/CheckOut",
            data: {},
            success: function (data) {
                $('#shoppingCart').html(data);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));

            }

        });
    }

</script>