

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ZAY SHOP &mdash; Hàng Hiệu Xuất Khẩu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kablammo">
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kablammo">*@
    <link href="~/Content/fonts/icomoon/style.css" rel="stylesheet" />

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/Bs4Login.css" rel="stylesheet" />

    <link href="~/Content/slick-1.8.1/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/slick-1.8.1/slick/slick-theme.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/ProductImgSlider.css" rel="stylesheet" />

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Bs4Login.js"></script>
    <script src="~/Scripts/jquery.twbsPagination.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/date.format.js"></script>
</head>
<body>
    @*Header*@
    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <div class="site-block-top-search">
                                <span class="icon icon-search2"></span>
                                <input type="text" id="txtProductSearch" class="form-control border-0" placeholder="Tìm sản phẩm ...">
                            </div>
                            <div id="search-suggest" style="display:none;background-color:white">
                                <ul id="suggest-item" class="list-group list-group-flush" style="background-color:white;z-index: 9999999">
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a href="/TrangChu/Index" class="js-logo-clone">ZAY SHOP</a>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <li><div id="userInfor"></div></li>
                                    <li>
                                        <a href="/Cart/Index" class="site-cart">
                                            <span class="icon icon-shopping_cart"></span>
                                            <span class="count font-weight-bold" id="slh">

                                            </span>
                                        </a>
                                    </li>
                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li><a href="/Blog/BlogAbout" class="font-weight-bold">GIỚI THIỆU</a></li>
                        <li class="has-children" id="brandMenu" >
                            <a class="font-weight-bold">THƯƠNG HIỆU</a>
                        </li>
                        <li><a href="/SanPham/Index" class="font-weight-bold">SHOP</a></li>
                        <li><a href="/Blog/Index" class="font-weight-bold">TIN TỨC</a></li>
                        <li><a href="/Blog/HuongDan" class="font-weight-bold">HƯỚNG DẪN</a></li>
                        <li><a href="/PhanHoi/Index" class="font-weight-bold">LIÊN HỆ</a></li>
                    </ul>
                </div>
            </nav>
        </header>


        <div>
            @RenderBody();
        </div>


        @*FOOTER*@
        <footer class="site-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 mb-5 mb-lg-0 bg-light">
                        <div class="row">
                            <div class="col-md-12 font-weight-normal">
                                <br />
                                <h3 class="footer-heading mb-4 font-weight-bold">Về Chúng Tôi</h3>
                                <p><img src="~/Content/logo.jpg" style="width: 200px;height: 50px" /></p>
                                <p>CHÚNG TÔI CUNG CẤP SẢN PHẨM CHẤT LƯỢNG TỪ CÁC THƯƠNG HIỆU HÀNG ĐẦU</p>
                                <div class="row font-weight-normal">
                                    <div class="col-6 mb-4">
                                        <p><img src="~/Content/logo-giao-hang-nhanh-1.png" class="img-fluid" /></p>
                                    </div>
                                    <div class="col-6 mb-4">
                                        <p><img src="~/Content/Logo-VNPAY-QR.png" class="img-fluid" /></p>
                                    </div>
                                </div>
                                <p><img src="~/Content/logoSaleNoti.png" class="img-fluid" /></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-5 mb-lg-0 bg-light">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <h3 class="footer-heading mb-4 font-weight-bold" >Liên Hệ</h3>
                                <div class="font-weight-normal">
                                    <p>
                                        <b>Địa chỉ:</b> Số 6 ngõ Bảo Khánh - P.Hàng Trống -
                                    </p>
                                    <p>
                                        Q.Hoàn Kiếm - Hà Nội
                                    </p>
                                    <p>
                                        <b>Hotline:</b> 097.559.2299
                                    </p>
                                    <p>
                                        <b>Website:</b> zayshop.com
                                    </p>
                                    <p>
                                        <b>Email:</b> zayshop@gmail.com
                                    </p>
                                    <P>
                                        <b>Giờ mở cửa:</b> 9h00- 19h30
                                    </P>
                                    <P>
                                        <b></b>Tất cả các ngày trong tuần
                                    </P>
                                    <p>
                                        <a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
                                        <a href=""><i class="fa fa-youtube-square fa-2x"></i></a>
                                        <a href=""><i class="fa fa-twitter-square fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-5 mb-lg-0" style="background-color:gainsboro">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <h3 class="footer-heading mb-4 font-weight-bold">Bản Đồ</h3>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232.75328183663456!2d105.85031063338032!3d21.03058487127158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9562c94d41%3A0x505be35282309a84!2zU-G7kSA2IE5nLiBCw6FvIEtow6FuaCwgSMOgbmcgVHLhu5FuZywgSG_DoG4gS2nhur9tLCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1678004621083!5m2!1sen!2s" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </footer>
    </div>


    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/main.js"></script>

    <script src="~/Content/slick-1.8.1/slick/slick.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/js.cookie.js"></script>
    <script src="~/Scripts/StoreCart.js"></script>

    <script>
        jQuery(document).ready(function ($) {
            getBrandMenu();
            getUserPanel();
            getSLH();

            $('#txtProductSearch').on('keypress', function (e) {
                if (e.which === 13) {
                    //
                }
                else {
                    $("#search-suggest").show();
                    SuggestProduct();
                }
            });

            $('#txtProductSearch').on('keyup', function (e) {
                if (e.which === 13) {
                    //
                }
                else {
                    $("#search-suggest").show();
                    SuggestProduct();
                }
            });

            $('#txtProductSearch').on('keydown', function (e) {
                if (e.which === 13) {
                    //
                }
                else {
                    $("#search-suggest").show();
                    SuggestProduct();
                }
            });

        });

        function SuggestProduct() {

            var text_search = $("#txtProductSearch").val();

            var inputData = {
                TenSp: text_search
            }

            $.ajax({
                type: 'GET',
                url: "/SanPham/SearchSuggest",
                data: inputData,
                success: function (data) {
                    $("#suggest-item").html("");
                    var jsonRespone = JSON.parse(data);
                    var result = jsonRespone.$values;
                    if (result != null) {
                        var html = "";
                        $.each(result, function (index, item) {
                            html += "<li style=\"padding-bottom: 5px; padding-top: 5px; border-bottom: 1px solid gray; width: 100 %;\" class='list-group-item'><a style=\"padding: 3px;\" href=\"/SanPham/Detail?MaSP=" + item.maSp + "\"b>" + item.tenSp + "</a></li>";
                        });

                        $("#suggest-item").append(html);
                    }
                },
                error: function (data) {
                    $("#suggest-item").html('');
                }
            });
        }

        function getSLH() {

            $.ajax({
                type: 'POST',
                url: "/Cart/GetSLH",
                data: {},
                success: function (data) {
                    $('#slh').html(data.slh);
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));

                }

            });


        }

        function getUserPanel() {

            $.ajax({
                type: 'POST',
                url: "/User/GetUserPanel",
                data: {},
                success: function (data) {
                    $('#userInfor').html(data);
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));

                }

            });
        }

        function getBrandMenu() {

            $.ajax({
                type: 'POST',
                url: "/TrangChu/BrandMenu",
                data: {},
                success: function (data) {
                    $('#brandMenu').append(data);
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));

                }

            });
        }
    </script>

</body>
</html >



