
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - SB Admin</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/Common.js"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4"><i class="fa fa-sign-in"> Thông tin đăng nhập </i></h3></div>
                                <div class="card-body">
                                    <div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="txtUserName" type="text" />
                                            <label for="inputEmail">Tên đăng nhập</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="txtPassWord" type="password" />
                                            <label for="inputPassword">Mật khẩu</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" id="showPassword" type="checkbox" value="" />
                                            <label class="form-check-label" for="showPassword">Hiện mật khẩu</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="btn btn-primary" onclick="login()">Đăng nhập</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><i class="fa fa-mobile-phone"></i> Liên hệ hỗ trợ - 0981617791 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; ZAY SHOP 2023</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/scripts.js"></script>


    <script>
        $(document).ready(function () {
        });

        function login() {

            var inputData = {
                UserName: $("#txtUserName").val(),
                Password: $("#txtPassWord").val(),
            }

            $.ajax({
                type: 'POST',
                url: "/User/Login",
                data: JSON.stringify(inputData),
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    var code = data.ResponseCode;
                    if (code == 1) {
                        Common.setCookie("ManagerShop_Cookies", data.Description, 1);
                        swal({
                            text: "Đăng nhập thành công !!!",
                            icon: "success",
                            button: "OK!",
                        }).then(function () {
                            window.location.replace("http://localhost:61250/Home/Index");

                        });
                    }
                    else if (code == -1) {
                        swal({
                            text: "Mã xác thực đăng nhập đã được gửi đến email của bạn !",
                            icon: "success",
                            button: "OK!",
                        }).then(function () {
                            $("#signInModal").modal('show');
                        });
                    }
                    else {
                        swal({
                            text: "Đăng nhập thất bại !!!",
                            icon: "error",
                            button: "OK!",
                        });
                    }
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));
                }
            });

        }
    </script>
</body>
</html>
